name: Test

on:
  push:
    paths-ignore:
      - "docs/**"
      - "**.md"
  pull_request:
    paths-ignore:
      - "docs/**"
      - "**.md"

jobs:
  test:
    name: Unit test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt coveralls
          python setup.py install

      - name: Test
        run: coverage run --source=nuclei -m unittest

      - name: Post coverage results
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: coveralls --service=github

  lint:
    name: Formatting check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          # Full git history is needed to get a proper list of changed test_files within `super-linter`
          fetch-depth: 0

      - name: Lint
        uses: github/super-linter@v4
        env:
          VALIDATE_ALL_CODEBASE: false
          VALIDATE_PYTHON_FLAKE8: false
          VALIDATE_PYTHON_PYLINT: false
          VALIDATE_MARKDOWN: false
          VALIDATE_JSCPD: false
          DEFAULT_BRANCH: main
          VALIDATE_CSS: false
          VALIDATE_YAML: false
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

          LINTER_RULES_PATH: /
          PYTHON_MYPY_CONFIG_FILE: pyproject.toml
  test_docs:
    name: Test docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r docs.requirements.txt
          python setup.py install
      - name: Build docs
        run: sphinx-build -b html docs public
        env:
          NUCLEI_USER: ${{ secrets.NUCLEI_USER }}
          NUCLEI_PASSWORD: ${{ secrets.NUCLEI_PASSWORD }}